@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: black;
}

.container {
    background-color: #1F2937;
    padding: 100px 50px;
    margin: 100px auto;
    width: 550px;
    border-radius: 20px;
    /* box-sizing: border-box; */

}
.heading {
    font-family: Karla, sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: #ffffff;
    margin: 0;

    span {
        color: #55F991;
        display: block;
    }
}

.text {
    color: #D5D4D8;
    font-size: 20px;
    margin: 8px 0 48px;
}

.btn-gen {
    background-color: #10B981;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.25s 0s ease;

    &:hover {
        background-color: #345685;
        scale: .95;
        cursor: pointer;
    }

    &:active {
        scale: 1;
        background-color: #2F3E53;
    }
}

.input-pw-len {
    background-color: unset;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 8px;
    width: 48px;
    border: 2px solid #10B981;
    border-radius: 5px;
    transition: 0.25s 0s ease;
    outline: none;

    &:hover,
    &:focus {
        border: 2px solid #345685;
    }
}

hr {
    border: none;
    border: 1px solid #2F3E53;
    margin: 50px 0 50px;
}

.passwords {
    display: flex;
    gap: 24px;
}

.pw1, .pw2 {
    background-color: #2F3E53;
    color: #55F991;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    flex: 1 1 200px;
    height: 36px;
    box-sizing: border-box;
    transition: 0.25s 0s ease;

    &:hover {
        background-color: #345685;
        scale: 1.05;
        cursor: pointer;
    }

    &:active {
        scale: 1;
        background-color: #2F3E53;
    }
}